@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "tailwindcss/utilities";

@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .niceInput {
    @apply pointer-events-none absolute w-0 h-0 overflow-hidden opacity-0;
  }
}
