name: ci-theblog-workflow
on:
  push:
    branches:
      - main
jobs:
  check-application:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v6
        with:
          node-version: latest
      - run: npm i
      - run: npm run migrate
      - run: npm run seed
      - run: run build
